@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:300');
body,p{
	font-family: Roboto;
}
.block-title{
	height: 1150px;
	max-width: 100%;
	display: flex;
    justify-content: center;
	background-image: url(../IMG/bgc.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.header-content,.content{
	width: 940px;
}
header{
	width: 100%;
	height: 90px;
	position: fixed;
	display: flex;
	justify-content: center;
    opacity: 0.9;
    background-color: #233a60;
    z-index: 1;
}
.wrapper .header-content{
	display: flex;
    align-items: center;
    justify-content: space-between;
    font-size:16px;
}
header nav{
	text-transform: uppercase;
}
nav ul{
	display: flex;
}
nav ul li{
	height: 100%;
	display: flex;
	align-items: center;
	padding: 0 10px;
}
nav ul li:nth-child(even){
	border-left:1px solid #374a69;
	border-right:1px solid #374a69;
}
nav ul a{
	text-decoration: none;
	color: #2C83DB;
}
.nav-burger-checkbox{
	display: none;
}
.burger-container{
	display: none;
	width: 15px;
	height: 28px;
	cursor: pointer;
	position: absolute;
   	right: 33px;
   	top: 10px;
}
.burger-container > div{
	height: 2px;
   	margin-bottom: 2px;
   	background-color: #2C83DB;
}
h1,h2,h3{
	font-family: Roboto Condensed;
}
nav ul a:hover{
	color:#fff;
}
.background-content{
	width: 80%;
    margin: 0 auto;
	display: flex;
	flex-direction: column;
}
.block-info{
	height: 70%;
}
.block-button{
	width: 100%;
	height: 30%;
}
.block-info,.block-button{
	display: flex;
    justify-content: center;
    align-items: flex-end;
}
.block-info-content1{
	padding: 25px 45px;
}
.container-text,.block-info-content1{
	margin-bottom: 122px;
	font-size: 52px;
    color: #fff;
    opacity: 0.9;
	background-color: #309fff;
}
.buttom-scroll{
	position: relative;
	width: 50px;
    height: 50px;
    border: 1px solid #000;
    border-radius: 50%;
    margin-bottom: 10px;
    cursor: pointer;
}
.buttom-scroll:before{
	content: '';
    position: absolute;
    width: 2px;
    height: 23px;
    top: 12px;
    left: 16px;
    transform: rotate(-41deg);
    background-color: #000;
}
.buttom-scroll:after{
	content: '';
	position: absolute;
    width: 2px;
    height: 23px;
    top: 10px;
    right: 17px;
    transform: rotate(41deg);
    background-color: #000;
}
.block-info-content{
	width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.wrapper-info div{
	display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.wrapper-info img{
	width: 400px;
}
.wrapper-info p{
	width: 30%;
	font-size: 30px;
}
.title{
	font-size: 60px;
	font-family: Roboto;
	margin-top: 70px;
}
.image-margin{
	margin: 40px 0;
}
.container-text p{
	padding: 25px;
	font-size: 28px;
	text-align: center;
	font-family: Roboto ;
}
.first-paragraph{
	border-bottom: 1px solid #fff;	
}
.block-bg{
	background-color:#F6F8FB;;
}
.block-links{
	position: relative;
	transform: rotate(-45deg);
}
.content-box{
	display: flex;
    justify-content: center;
    width: 150px;
    margin: 10px;
    height: 150px;
    cursor: pointer;
	background-color: #E3E5E8;
}
.content-box:hover{
	background-color: #44A8FF;
}
.content-box div{
	width: 100%;
    transform: rotate(45deg);
	display: flex;
    flex-direction: column;
    align-items: center;
}
.content-box h2{
	width: 63%;
    text-align: center;
    margin-top: 39px;
    background-color: #F6F8FB;
    padding: 5px 0;
}
.container-links{
	display: flex;
	justify-content: center;
	padding: 0 0 200px 0;
	background-color: #F6F8FB;
}
.block-links > div {
	display: flex;
}
.content-box div{
	width: 100%;
}
.block-links > div img{
    margin-top: 44px;
    height: 50px;
}
.border-line-2:before{
	content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 499px;
	z-index: 1;
    background-color: #CDCED1;
}
.border-line-2:after{
	content: "";
	position: absolute;
    top: 0;
    left: 170px;
    width: 1px;
    height: 523px;
    z-index: 1;
    background-color: #CDCED1;
}
.border-line-1:before{
	content: "";
	position: absolute;
    top: -25px;
    left: 177px;
    transform: rotate(90deg);
    width: 1px;
    height: 388px;
    z-index: 1;
    background-color: #CDCED1;	
}
.border-line-1:after{
	content: "";
	position: absolute;
    top: 70px;
    left: 253px;
    transform: rotate(90deg);
    width: 1px;
    height: 540px;
    z-index: 1;
    background-color: #CDCED1;
}
.border-line-3:before{
	content: "";
	position: absolute;
    top: 143px;
    left: 340px;
    transform: rotate(180deg);
    width: 1px;
    height: 379px;
    z-index: 1;
    background-color: #CDCED1;	
}
.border-line-3:after{
	content: "";
	position: absolute;
    top: 255px;
    left: 265px;
    transform: rotate(90deg);
    width: 1px;
    height: 508px;
    z-index: 1;
    background-color: #CDCED1;
}
.container-form-content,.block-popup,.main-info-content,.main-textarea-content,.contact-info-content{
	width: 80%;
    margin: 0 auto;
    text-align: center;
}
.block-button-form{
	display: flex;
	justify-content: space-between;
}
.block-button-form div{
	padding: 10px;
    width: 25%;
	font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
}
.block-button-form div:nth-child(odd){
	font-weight: normal;
	color: #659dfc;
    border: 1px solid #000;
    cursor: pointer;
}
.block-button-form div:nth-child(odd):hover{
	background-color: rgba(101, 157, 252, 0.65);
}
.container-popup{
	height: 545px;
	display: flex;
    align-items: center;
	margin-top: 50px;
	background-image: url(../IMG/bg-input-block.png);
	background-size: contain;
    background-repeat: no-repeat;
}
.block-popup{
	padding: 90px 30px 0px 70px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.81);
    border:1px solid #000;
}
.block-popup form{
    height: 100%;
    display: flex;
    justify-content: space-around;
    text-transform: uppercase;
}
.block-popup .left-block,.block-popup .right-block{
	width: 50%;
}
.block-popup form input{
    width: 80%;
    height: 42px;
    margin-bottom: 60px;
    font-size: 24px;
    text-transform: uppercase;
}
.block-checkbox{
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
}
.right-block{
	display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 18px;
}
.right-block .block-checkbox  input{
	width: 10%;
    margin: 0 0 0 20px;
}
.right-block input[type="submit"]{
	width: 20%;
	font-size: 18px;
}
.button{
	width: 30px;
    height: 30px;
    position: absolute;
    top: 7px;
    right: 7px;
    cursor: pointer;
}
.button:before{
	content: "";
    position: absolute;
    width: 2px;
    height: 28px;
    transform: rotate(45deg);
    background-color: #000;
}
.button:after{
	content: "";
    position: absolute;
    width: 2px;
    height: 28px;
    transform: rotate(-45deg);
    background-color: #000;
}
.main-container{
	margin-top: 30px;
	font-size: 20px;
}
.main-container > div{
	display: flex;
    justify-content: space-between;
    margin-bottom: 130px;
	padding: 10px 0;
	border-top: 1px solid #D1D1D1;
	border-bottom:1px solid #D1D1D1;
}
.main-container > div div:nth-child(even){
	position: relative;
	color: #6C6D6D;
}
.paint-field-1:before{
	content: "";
	position: absolute;
    width: 1px;
    height: 319px;
    top: -41px;
    left: -54px;
    background-color: #D1D1D1;
}
.paint-field-1:after{
	content: "";
	position: absolute;
    width: 1px;
    height: 319px;
    top: -41px;
    right: -54px;
    background-color: #D1D1D1;
}
.paint-field-2:before{
	content: "";
	position: absolute;
    width: 1px;
    height: 319px;
    top: -41px;
    left: -54px;
    background-color: #D1D1D1;
}
.paint-field-2:after{
	content: "";
	position: absolute;
    width: 1px;
    height: 319px;
    top: -41px;
    right: -54px;
    background-color: #D1D1D1;
}
.paint-field-3:before{
	content: "";
	position: absolute;
    width: 1px;
    height: 319px;
    top: -41px;
    left: -54px;
    background-color: #D1D1D1;
}
.paint-field-3:after{
	content: "";
	position: absolute;
    width: 1px;
    height: 319px;
    top: -41px;
    right: -54px;
    background-color: #D1D1D1;
}
.main-container img{
	width: 100%;
	height: 100%;
}
.main-container > div div{
	height: 235px;
    width: 26%;
    display: flex;
}
.main-container span{
	width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    color: #6C6D6D;
    margin-bottom: 30%;
}
.main-container h2{
	text-transform: uppercase;
    text-align: justify;
}
.first-box{
	flex-direction: column;
    justify-content: space-between;
}
.first-box img{
	width: 20px;
}
.main-textarea-content .container-text{
	margin-bottom: 80px;
}
.main-textarea-content .container-1{
	display: flex;
    justify-content: space-between;
}
.main-textarea-content .container-2 textarea{
	width: 98%;
	height: 160px;
	margin-top: 50px;
}
.main-textarea-content .container-1 input,.main-textarea-content .container-2 textarea{
	font-size: 24px;
    border: none;
	border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    padding-left: 10px;
}
.main-textarea-content .container-1 input{
	width: 40%;
    height: 50px;
}
.main-textarea-content .container-3{
	display: flex;
    justify-content: flex-end;
}
.main-textarea-content input[type="submit"]{
	width: 20%;
    height: 38px;
    margin-top: 30px;
	background-color: #599CFE;
    color: #fff;
    border: none;
}
.block-main-textarea{
	background-image: url(../IMG/bg-form.png);
	background-size: cover;
}
.background-wrapp{
	padding-bottom:70px;
	background-color: #fff;
    opacity: 0.9;
}
.contact-info-content p:not(:block-checkbox p){
	margin-bottom: 45px;
}
.block-contact-form{
	display: flex;
	justify-content: space-between;
}
.block-contact-form .left-block{
	width: 55%;
	background-image: url(../IMG/bg-contact-block.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.block-contact-form .left-block h3{
	margin-top: 58px;
    font-size: 24px;
}
.contact-info-wrapp{
	padding-bottom: 60px;
	background-image: url(../IMG/bg-contact-form.png);
	background-size: cover;
}
.contact-info-content{
	padding-top: 40px;
}
.contact-info-content h2{
	margin-top: 0;
}
.contact-info-content form{
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	font-size: 24px;
}
.contact-info-content form input{
	width: 95%;
	height: 50px;
	margin-bottom: 25px;
	font-size: 24px;
}
.contact-info-content input[type="checkbox"]{
	width: 30px;
	margin: 0 0 0 20px;
}
.contact-info-content input[type="submit"]{
	width: 40%;
	background-color: #589DFE;
	color: #fff;
    font-family: Roboto Condensed;
}
input{
    padding-left: 10px;
	border: 1px solid #000;
	background-color: #fff;
	color: #000;
}
.contact-info-links{
	margin-top: 50px;
}
.block-checkbox p{
	font-family: Roboto Condensed;
}
.text-setting{
	margin: 25px 0;
}
footer{
	display: flex;
    align-items: center;
    justify-content: center;
	height: 95px;
	color: #fff;
	background-color: #333333;
}
footer p{
	text-transform: uppercase;
}
footer p a{
	text-transform: lowercase;
	color: #1868E9;
}
